<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkz_kPBYexcFPK-tFuwtq_98HOOXtY5AY</string>
	<key>GCM_SENDER_ID</key>
	<string>518647738491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qwikerDriver</string>
	<key>PROJECT_ID</key>
	<string>qwiker-9f0d8</string>
	<key>STORAGE_BUCKET</key>
	<string>qwiker-9f0d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518647738491:ios:a47a509d8245d598b372de</string>
</dict>
</plist>